@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&family=Shadows+Into+Light&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Radio Canada", sans-serif;
  /* font-family: "Shadows Into Light", cursive; */
}

body {
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

p {
  color: #ffffff;
  font-size: 1rem ;
  font-weight: 100;
}

.background-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  background-color: #141313;
}

.background-img img {
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}

.top-nav {
  background-color: #191919c0;
  border: 1px solid #3B3B3B;
  width: 80%;
}

.avatar-container {
  width: 24px;
  height: 24px;
}

.avatar-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.my-name {
  color: #ffffff;
}

.top-nav-links {
  cursor: pointer;
}

.social-links {
  background-color: #3B3B3B;
  font-size: .8rem;
}

.sections {
  width: 50%;
}

.description {
  font-weight: 100;
}

.card {
  background: transparent;
  border: 1px solid #3B3B3B;
}

.card i {
  font-size: 4rem;
}

.card-body {
  background-color: #191919c0;
}

.card-title {
  color: #ffffff;
}

.project-img-container {
  width: 100%;
  height: 200px;
}

.project-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-card {
  height: 400px;
  max-height: 400px;
}

.project-card .card-text {
  font-size: .8rem;
  overflow-y: auto;
}

.project-tag {
  background-color: #191919c0;
  border: 1px solid #3b3b3b;
}

.tool-card {
  background-color: #3B3B3B;
  color: #ffffff;
  height: 120px;
}

.scrollable-text {
  max-height: 110px;
  overflow-y: auto;
  padding-right: 5px; 
}

.tech-img-container {
  width: 4rem;
  height: 4rem;
}

.tech-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Hide scrollbar but keep functionality */
.scrollable-text::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

